.my-tooltip {
    position: relative;
    margin-top: 15%;
    display: inline-block;
  }
  
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
  }
  
 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
  }

  .my-tooltip:hover .tooltiptext {
    visibility: visible;
  }


  /* css for positioning tooltip at top */
  .tooltip-top{
    top: -110%;
    left: 7%;
  }
  .tooltip-top::after{
    left: 50%;
    bottom: -9.5px;
    margin-left: -5px;
    border-color: #3391FD transparent transparent transparent;
  }
 

  /* css for positioning tooltip at bottom */
  .tooltip-bottom{
    top: 130%;
    left: 46%;
    margin-left: -60px;
  }
  .tooltip-bottom::after{
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent #3391FD transparent;
  }

  /* css for positioning tooltip at left */
  .tooltip-left{
    left: -100%;
    top: 8%;
  }
  .tooltip-left::after{
    right: -10px;
    top: 35%;
    border-color: transparent transparent transparent #3391FD;
  }

  /* css for positioning tooltip at right */
  .tooltip-right{
    right: -108%;
    top: 10%;
  }
  .tooltip-right::after{
    left: -10px;
    top: 35%;
    border-color: transparent #3391FD transparent transparent;
  }